extends layout

block content
  #container

    section.playlist
      h1 Playlist
      nav
        button.control.play Play
        // button.control.pause Pause
        button.control.prev Prev
        button.control.next Next

    section.library
      h1 Music Library

    script(type="text/template", id="album-template")
      button.queue.add 
        img(src="/images/add.png")

      span.album-title <%= title %>
      span.artist-name <%= artist %>

      ol.tracks
        <% _.each(tracks, function(track) { %>
        li <%= track.title %>
        <% }); %>
