doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fancy.css')

    script(src='/javascripts/libs/jquery.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')

    script(src='/javascripts/main.js')
  body
    block content
