doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fancy.css')

    script(src='/javascripts/libs/jquery.js')
    script(src='/javascripts/libs/underscore.js')
    script(src='/javascripts/libs/backbone.js')

    script(src='/javascripts/main.js')
    script(src='/javascripts/router.js')

    script(src='/javascripts/app/models/Album.js')
    script(src='/javascripts/app/collections/Albums.js')
    script(src='/javascripts/app/views/AlbumView.js')
    script(src='/javascripts/app/views/LibraryView.js')
    script(src='/javascripts/app/views/PlayerlistView.js')
  body
    block content
